<p id="notice"><%= notice %></p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.nationalgeographic.fr/files/styles/image_1900/public/01-sistine-chapel-opener.adapt_.1900.1.jpg);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>


<h1>Arts</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Description</th>
      <th>Title</th>
      <th>Date</th>
      <th>Dimension</th>
      <th>Photo</th>
      <th>Feeling</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arts.each do |art| %>
      <tr>

        <td><%= art.author %></td>
        <td><%= art.description %></td>
        <td><%= art.title %></td>
        <td><%= art.date %></td>
        <td><%= art.dimension %></td>
        <td><img src="<%= art.photo %>" width=200px/ ></td>
        <td><%= art.feeling %></td>
        <td><%= link_to 'Show', art %></td>
        <td><%= link_to 'Edit', edit_art_path(art) %></td>
        <td><%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Art', new_art_path %>
